<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dog life</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
  </head>
  <body>
<!--<div id="loader"></div-->
    <head>
      <nav class="container">
        <h1>Rose's (Cane Corso)journey</h1>
          <a href="index.html">
            <button>Home</button>
            <a href="about.html">
              <button>About</button>
              <a href="Blog.html">
                <button>Blog</button>
                <a href="Login.html">
                  <button><i class="fa-sharp fa-solid fa-users"></i>Login</button>
          </a>
      </nav>
      <hr>
    </header>
    <a href="https://www.akc.org/dog-breeds/cane-cane">Cane Corso</a>
    <img src="images/download (2).jpg" alt="cane corso" />
    <p>
      Jay'z quoted:
      <q>
        All I got is Dreams,
        Nobody else Believes,
        Nobody else See,
        Nobody else but Me.
      </q>
    </p>
    <p>Lorenzo Snow quoted:
      <q>Be better than you were yesterday,
                        and be better tomorrow than you are today.
      </q>
      </p>
      <p>Eric Thomas quoted:
      <q>When you want to succeed as bad as you to breathe,
                   then you'll be successful.
                
      </q>
    </p>
    <img src="images/ed.jpg" alt="pic of eric thomas" />
    <div>
    <navbar>
      <h5>Contact page</h5>
      <ol>
        <li>Ronald Edwards</li>
        <li>xxx-xxx-xxxx</li>
        <li><a href="mailto:edwardsiironald@gmail.com">email</a></li>
      </ol>
    </navbar>
    </div>
    <h2>Introduction of Rose</h2>
    <p>Here is a quote from the family:</p>
    <q>
      Rose is family and my our friend. <br />
      She 6 years old and is always the life of the party. <br />
      She loves peanut butter.
    </q>
    <div>
      <p>
        Rose was 1 years old.<br />
        when i found her at pg county animal services.<br />She is a great dog
        that loves her family.<br />Reliable ,trustworthy and protective of her
        family.
      </p>
    </div>

    </div>
    <video width="730" height="410">
      <source
        src="https://www.istockphoto.com/video/animals-aggression-when-dog-barks-gm1333325866-415848274"
        type="video/mp4"
      />
    </video>
    <video width="730" height="410">
      <source
        src="https://www.istockphoto.com/video/animals-aggression-when-dog-barks-gm1333325866-415848274"
        type="video/mp4"
      />
    </video>
    <script>
      
      function sayGoodevening() {
        alert("Goodevening");
      }
    </script>
    <script src="/jsbasics/main.js"></script>
  </body>
</html>


    
