body { 
    border-radius:30;
    background-color:gray;
    text-align:center;

}

a {
    color: red;
    font-size:xx-large;
}
div {
    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 500px;

}

nav. {
    background-color: red;
    display: flex;
    align-items: left;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 800px;
    float:left;
}
a {
    background-color: black;
    


}
img {
    border: 1px solid #ddd;
    border-radius: 60px;
    padding: 50px;
    width: 500px;
}
h1 {
    border: 7px solid black;
    padding: 50px;
    border-radius: 60px;
    font-size: 100px;


}
h2 {
    border: 7px solid black;
    padding: 50px;
    border-radius: 30px;
    font-size: 60px; 
}
h5 {
    background-color:#fff;
    font-size: 50px;
}
li {
    font-size:50px;
}
 .blue_box {
  border: 10px solid #fff;
  padding: 0.5em;
  margin: 0.7em;
  width: 200px;
  height: 300px;
  float: right;
  }

    
